<h1>List of Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= link_to 'New Blog', new_user_blog_path(user) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New User', new_user_path %>